body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff5733;
}

h2 {
    color: #33a1ff;
}

h3 {
    color: #33ff77;
}

h4 {
    color: #ff33bb;
}

h5 {
    color: #ffaa33;
}
